<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ASPNETDBREMIT;Integrated Security=True;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot; Microsoft SQL Server Management Studio Express&quot;" providerName="System.Data.SqlClient" />
    <add name="RemitConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Remit;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ASPNETDBREMITConnectionString1" connectionString="Data Source=PHWEBSERVER2008\SQLEXPRESS;Initial Catalog=ASPNETDBREMIT;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=NBMSDRAFAELM;Initial Catalog=ASPNETDBREMIT;Integrated Security=True;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot; Microsoft SQL Server Management Studio Express&quot;" providerName="System.Data.SqlClient"/>
    <add name="RemitConnectionString" connectionString="Data Source=NBMSDRAFAELM;Initial Catalog=Remit;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ASPNETDBREMITConnectionString1" connectionString="Data Source=NBMSDRAFAELM;Initial Catalog=ASPNETDBREMIT;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--<add name="HRDSConnectionString" connectionString="Data Source=NBMSDRAFAELM;Initial Catalog=HRDS;Integrated Security=True"
         providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <identity impersonate="false"/>
    <roleManager enabled="true"/>
    <compilation debug="false" strict="false" explicit="true">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <profile>
      <properties>
        <add name="Idno" defaultValue=""/>
        <add name="Name" defaultValue=""/>
        <add name="Email" defaultValue=""/>
      </properties>
    </profile>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <!--<modules runAllManagedModulesForAllRequests="true" />-->
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
        <add value="index.php"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false"/>
  </system.webServer>
</configuration>